*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/mobile/build
/wear/build
/captures
build.number
build.properties

# symlinks
WearCompanionLibrary

# scripts
cplibs.sh
wear/src/main/upload.sh

# OS junk files
[Tt]humbs.db
*.DS_Store

# C/C++ files, libraries or archives
**/*.so
wear/src/main/jni
wear/src/main/obj
