*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/mobile/build
/wear/build
/captures
build.number
build.properties

# OS junk files
[Tt]humbs.db
*.DS_Store

# C/C++ files, libraries or archives
**/*.so

